<div>
    <div class="col-12">
        <label>Procurando por algum processo do sistema?</label>
    </div>
    <form name="processoData">
        <div class="col-12 single-line">
            <div class="col-5">
                <label>Busque pela porta</label>
            </div>
            <div class="col-3" style="max-width: fit-content;">
                <input type="number" ng-model="$ctrl.porta">
            </div>
            <div class="col-2">
                <button type="button" ng-click="$ctrl.procuraProcesso()">
                    <img src={{$ctrl.lupaIcon}} class="btn-icon">
                </button>
            </div>
        </div>
    </form>
</div>