<div>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="configurationTypeForm">
      <form [formGroup]="configurationTypeForm" class="">
        <ng-template matStepLabel>Tipo de Parâmetros</ng-template>
        <div class="row m-2">
          <div class="col-12 btn-group btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
            <label class="col-4 btn btn-light">
              <input type="radio" id="option1" [value]="types.manual" formControlName="configurationType" checked (change)="onChange(stepper)">
              Definir parâmetros manualmente
            </label>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-12 btn-group btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
            <label class="col-4 btn btn-light">
              <input type="radio" id="option1" [value]="types.arquivo" formControlName="configurationType" checked (change)="onChange(stepper)">
              Usar arquivo de configuração de parâmetros
            </label>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="fileForm">
      <form [formGroup]="fileForm">
        <ng-template matStepLabel>Configuração</ng-template>
        <ng-container *ngIf="configurationTypeForm.value.configurationType == types.arquivo">
          <div class="row m-2">
            <div class="col-12 d-flex justify-content-center">
              <div class="col-6 custom-file">
                <input id="myFile" type="file" formControlName="file" accept="text/x-yaml" class="custom-file-input"
                  (change)="showFileName($event, stepper)" [ngClass]="{'is-invalid': !isValid()}">
                <label class="custom-file-label" for="customFile" #fileLabel>{{fileLabelText}}</label>

                <div class="invalid-feedback" *ngIf="!isValid()">{{validateMessage(fileForm, 'file')}}</div>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
    </mat-step>

    <mat-step [stepControl]="configurationTypeForm">
      <form [formGroup]="configurationTypeForm" class="graphic-center">
        <ng-template matStepLabel>Resultados</ng-template>
        <div class="w-100 d-flex justify-content-center" *ngIf="loading">
          <mat-progress-spinner
              [color]="'primary'"
              [mode]="'indeterminate'"
              [value]="50">
          </mat-progress-spinner>
        </div>
        <!-- <app-custom-chart [type]="chartEnum.BAR" [graphicConfig]="graphicConfig"></app-custom-chart> -->
        <p class="text-success" *ngIf="resultCompleted">✔ Teste finalizado com sucesso.</p>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
