<div>
  <!-- <form> -->
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="configurationTypeForm">
        <form [formGroup]="configurationTypeForm">
          <ng-template matStepLabel>Step 1</ng-template>
          <div>1</div>
          <input type="text" placeholder="Teste" formControlName="configurationType">
        </form>
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="configurationTypeForm">
        <form [formGroup]="configurationTypeForm">
          <ng-template matStepLabel>Step 2</ng-template>
          <div>2</div>
          <input type="text" placeholder="Teste" formControlName="configurationType">
        </form>
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="configurationTypeForm">
        <form [formGroup]="configurationTypeForm">
          <ng-template matStepLabel>Step 3</ng-template>
          <div>3</div>
          <input type="text" placeholder="Teste" formControlName="configurationType">
        </form>
        <div>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  <!-- </form> -->
</div>
