.btn.btn-light {
  border-radius: 10em;
  background-color: #f3f4f5;
  border-color: #f3f4f5;

  &:hover {
    background-color: #eaeaea;
    border-color: #eaeaea;
  }
}

.custom-file-input {
  &:lang(en)~.custom-file-label::after {
    content: 'Procurar' !important;
  }
}

