<div class="sidebar" [ngClass]="status ? 'scale-down-center' : 'scale-up-center'">
  <nav id="sidebar" class="wrapper">
    <!-- <div class="sidebar-header">
        <h3>Menu</h3>
    </div> -->
    <div id="sidebar-content" class="fit">
        <ul>
            <li>
                <a href="javascript:void(0)" (click)="goTo(url.HOME)">
                    <div class="card justify-content-center align-items-center shadow bg-white">
                        <img class="menu-opts"  [src]=icons.home sizes="40x40">
                    </div>
                </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="goTo(url.PROCESSES)">
                <div class="card justify-content-center align-items-center shadow bg-white">
                    <img class="menu-opts"  [src]=icons.terminal>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="goTo(url.TEST)">
                <div class="card justify-content-center align-items-center shadow bg-white">
                    <img class="menu-opts"  [src]=icons.test>
                </div>
              </a>
            </li>
        </ul>
    </div>
  </nav>
</div>
