@import "__variables.css";
@import "__animations.css";

html, body {
    height: 100%;
    background-color: var(--primary-color);
}

a.text-decoration-none {
    text-decoration: none;
}

a .card,
a .card:hover {
    color: var(--secondary-color) !important;
    text-decoration: none;
}

.scale-down-center {
	-webkit-animation: scale-down-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-up-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.card {
    width: var(--card-width);
    border-radius: 2.25rem !important;
}

.card:hover {
    background-color: var(--card-bg-color-hover) !important;
}

.card.row.h-100.justify-content-center.align-items-center {
    padding: 100px;
}

.menu-opts {
    font-size: var(--menu-font-size);
    display: flex;
    justify-content: center;
}

.sidebar {
    visibility: visible;
}

.sidebar.hidden, .hidden {
    visibility: hidden;
}

.small {
    display: none;
}

.wrapper {
    width: 200px;
    height: 0;
}

.wrapper .card {
    width: var(--card-sidebar-width) !important;
    height: var(--card-sidebar-height) !important;
    border-radius: var(--card-sidebar-radius) !important;
    margin: 5px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.max-height {
    height: 100vh;
}

.app-content {
    margin-left: 80px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}