html, body {
    height: 100%;
}

a.text-decoration-none {
    text-decoration: none;
}

a .card,
a .card:hover {
    color: black !important;
    text-decoration: none;
}

.card {
    width: 25rem;
    border-radius: 2.25rem !important;
}

.card:hover {
    background-color: rgb(251, 251, 251) !important;
}

.card.row.h-100.justify-content-center.align-items-center {
    padding: 100px;
}

.menu-opts {
    font-size: 50px;
    display: flex;
    justify-content: center;
}
