<div class="max-height">
  <div class="row h-100 w-100 justify-content-center align-items-center">
    <ng-container>
      <a href="javascript:void(0)" id="processos" class="text-decoration-none" [routerLink]="['/content/processos']">
          <div id="card-processos" class="card row h-100 justify-content-center align-items-center shadow bg-white">
              <img class="menu-opts"  [src]="terminal">
              <div class="card-body">
                  <p class="card-text text-center">
                      <b>PROCESSOS</b>
                  </p>
              </div>
          </div>
      </a>
  </ng-container>
  </div>
</div>
