
    <div>
        <nav id="sidebar" class="wrapper small">
            <!-- <div class="sidebar-header">
                <h3>Menu</h3>
        </div> -->
        <div id="sidebar-content" class="fit">
            <ul>
                <li>
                    <a href="" ng-click="$ctrl.homeClick()">
                        <div class="card justify-content-center align-items-center shadow bg-white">
                            <img class="menu-opts"  src={{$ctrl.homeIcon}} sizes="40x40">
                        </div>
                    </a>
                </li>
                <li>
                    <div class="card justify-content-center align-items-center shadow bg-white">
                        <img class="menu-opts"  src={{$ctrl.terminalIcon}}>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="bt-space"></div>
<div class="app-content">
    <div id="processo-content" class="small">
        <processo></processo>
    </div>
</div>
